{% extends 'base_hr_dashboard.html' %}

{% block content %}
<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">Add Performance Review</h5>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        {{ form.employee.label_tag }}
                        {{ form.employee }}
                    </div>

                    <div class="col-md-6">
                        {{ form.rating.label_tag }}
                        {{ form.rating }}
                    </div>

                    <div class="col-md-12 mt-3">
                        {{ form.comments.label_tag }}
                        {{ form.comments }}
                    </div>
                </div>

                <div class="mt-4 text-end">
                    <button class="btn btn-success">Submit Review</button>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}