{% extends base_template %} 
{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Performance Goals</h4>
    <a href="{% url 'add_goal' %}" class="btn btn-primary"> + Add Goal </a>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Employee</th>
            <th>Title</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Assigned By</th>
            <th>Submitted On</th>
          </tr>
        </thead>

        <tbody>
          {% for goal in goals %}
          <tr>
            <td>{{ goal.employee }}</td>
            <td>{{ goal.title }}</td>

            <td>
              <span
                class="badge {% if goal.status == 'Completed' %}bg-success {% elif goal.status == 'In Progress' %}bg-warning {% else %}bg-secondary {% endif %}"
              >
                {{ goal.status }}
              </span>
            </td>

            <td>{{ goal.deadline }}</td>
            <td>
              {% if goal.created_by %} {{ goal.created_by }} {% else %} {{
              goal.created_by_user.username }} {% endif %}
            </td>
            <td>
                {% if goal.submitted_at %}
                    {{ goal.submitted_at|date:"d M Y" }}
                {% else %}
                    <span class="text-muted">Pending</span>
                {% endif %}
            </td>

          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center text-muted">
              No goals added yet
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
