{% extends base_template %}
{% block content %}

<h4 class="mb-3">Generate Salary</h4>

<!-- Department Selector -->
<form method="get">

<label class="form-label">Select Department</label>

<select name="department" class="form-select" onchange="this.form.submit()">

<option value="">Select Department</option>

{% for d in departments %}

<option value="{{ d.id }}"
{% if request.GET.department == d.id|stringformat:"s" %}selected{% endif %}>
{{ d.name }}
</option>

{% endfor %}

</select>

</form>


{% if employees %}

<br>

<table class="table table-bordered">

<thead>
<tr>
<th>Employee</th>
<th>Department</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for emp in employees %}

<tr>

<td>{{ emp.first_name }} {{ emp.last_name }}</td>

<td>{{ emp.department.name }}</td>

<td>

<button
class="btn btn-primary btn-sm open-salary-modal"
data-empid="{{ emp.id }}"
data-empname="{{ emp.first_name }} {{ emp.last_name }}"
data-bs-toggle="modal"
data-bs-target="#salaryModal">

Generate Salary

</button>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endif %}


<!-- Salary Modal -->

<div class="modal fade" id="salaryModal">

<div class="modal-dialog modal-lg">

<div class="modal-content">

<div class="modal-header">
<h5 class="modal-title">Generate Salary</h5>
<button class="btn-close" data-bs-dismiss="modal"></button>
</div>


<div class="modal-body">

<form id="salaryForm">

{% csrf_token %}

<input type="hidden" name="employee_id" id="employee_id">

<input type="hidden" name="month" value="{{ selected_month }}">
<input type="hidden" name="year" value="{{ selected_year }}">


<div class="mb-3">

<label>Employee</label>

<input type="text"
id="employee_name"
class="form-control"
readonly>

</div>
<div class="row mb-3">

<div class="col-md-6">

<label>Month</label>

<select id="salary_month" name="month" class="form-select">

{% for num, name in months %}

<option value="{{ num }}">{{ name }}</option>

{% endfor %}

</select>

</div>

<div class="col-md-6">

<label>Year</label>

<select id="salary_year" name="year" class="form-select">

{% for y in years %}

<option value="{{ y }}">{{ y }}</option>

{% endfor %}

</select>

</div>

</div>

<h6>Attendance Summary</h6>

<table class="table table-sm table-bordered">

<tr>
<th>Working Days</th>
<th>Present</th>
<th>Absent</th>
<th>Half days</th>
<th>Leave</th>
</tr>

<tr>
<td id="working_days">-</td>
<td id="present_days">-</td>
<td id="absent_days">-</td>
<td id="half_days">-</td>
<td id="leave_days">-</td>
</tr>

</table>

<hr>


<div class="row">

<div class="col-md-4">

<label>Basic</label>

<input type="number"
name="basic"
class="form-control"
required>

</div>


<div class="col-md-4">

<label>HRA</label>

<input type="number"
name="hra"
class="form-control"
required>

</div>


<div class="col-md-4">

<label>Allowance</label>

<input type="number"
name="allowance"
class="form-control"
required>

</div>

</div>

</form>

</div>


<div class="modal-footer">

<button class="btn btn-success" onclick="generateSalary()">

Generate Salary

</button>

</div>

</div>
</div>
</div>


<script>

let currentEmployee = null;

document.querySelectorAll(".open-salary-modal").forEach(btn => {

btn.addEventListener("click", function(){

currentEmployee = this.dataset.empid
let empName = this.dataset.empname

document.getElementById("employee_id").value = currentEmployee
document.getElementById("employee_name").value = empName

loadAttendance()

})

})


document.getElementById("salary_month").addEventListener("change", loadAttendance)
document.getElementById("salary_year").addEventListener("change", loadAttendance)


function loadAttendance(){

let month = document.getElementById("salary_month").value
let year = document.getElementById("salary_year").value

if(!currentEmployee) return

fetch(`/salary/attendance-summary/${currentEmployee}/?month=${month}&year=${year}`)

.then(res => res.json())

.then(data => {

document.getElementById("working_days").innerText = data.working_days
document.getElementById("present_days").innerText = data.present
document.getElementById("absent_days").innerText = data.absent
document.getElementById("half_days").innerText = data.half_days
document.getElementById("leave_days").innerText = data.leave

})

}

function generateSalary(){

    let form = document.getElementById("salaryForm")

    fetch("{% url 'generate_single_salary' %}", {
        method: "POST",
        body: new FormData(form),
        headers:{
            "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
        }
    })
    .then(res => res.json())
    .then(data => {

        alert(data.message)

        location.reload()

    })

}

</script>

{% endblock %}