{% extends 'base_dashboard.html' %} {% block title %}Edit Employee{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
  <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-sm">
    ← Back to Employee List
  </a>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    <h4 class="mb-4">Edit Employee</h4>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- PERSONAL DETAILS -->
      <h6 class="text-primary">Personal Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>First Name</label>
          <input
            type="text"
            name="first_name"
            value="{{ employee.first_name }}"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-4">
          <label>Middle Name</label>
          <input
            type="text"
            name="middle_name"
            value="{{ employee.middle_name }}"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label>Last Name</label>
          <input
            type="text"
            name="last_name"
            value="{{ employee.last_name }}"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-4">
          <label>Gender</label>
          <select name="gender" class="form-select">
            <option
              value="Male"
              {%
              if
              employee.gender=""
              ="Male"
              %}selected{%
              endif
              %}
            >
              Male
            </option>
            <option
              value="Female"
              {%
              if
              employee.gender=""
              ="Female"
              %}selected{%
              endif
              %}
            >
              Female
            </option>
            <option
              value="Other"
              {%
              if
              employee.gender=""
              ="Other"
              %}selected{%
              endif
              %}
            >
              Other
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Date of Birth</label>
          <input
            type="date"
            name="date_of_birth"
            class="form-control"
            value="{{ employee.date_of_birth|date:'Y-m-d' }}"
          />
        </div>
        <div class="col-md-4">
          <label>Blood Group</label>
          <select name="blood_group" class="form-select" required>
            <option value="">-- Select --</option>
            <option>A+</option>
            <option>B+</option>
            <option>AB+</option>
            <option>O+</option>
            <option>A-</option>
            <option>B-</option>
            <option>AB-</option>
            <option>O-</option>
          </select>
        </div>
      </div>

      <!-- PHOTO -->
      <h6 class="text-primary">Profile Photo</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <input type="file" name="photo" class="form-control" />
        </div>
        {% if employee.photo %}
        <div class="col-md-4">
          <img src="{{ employee.photo.url }}" width="80" class="border" />
        </div>
        {% endif %}
      </div>
      <h6 class="text-primary mb-2">Education</h6>

      <div class="row g-3 mb-4">
        <!-- Bachelor Degree -->
        <div class="col-md-6">
          <label>Bachelor Degree</label>
          <select name="bachelor_degree" class="form-select">
            <option value="">-- Select Bachelor Degree --</option>
            <option
              value="BCom"
              {%
              if
              employee.bachelor_degree=""
              ="BCom"
              %}selected{%
              endif
              %}
            >
              B.Com
            </option>
            <option
              value="BSc"
              {%
              if
              employee.bachelor_degree=""
              ="BSc"
              %}selected{%
              endif
              %}
            >
              B.Sc
            </option>
            <option
              value="BA"
              {%
              if
              employee.bachelor_degree=""
              ="BA"
              %}selected{%
              endif
              %}
            >
              B.A
            </option>
            <option
              value="BTech"
              {%
              if
              employee.bachelor_degree=""
              ="BTech"
              %}selected{%
              endif
              %}
            >
              B.Tech
            </option>
          </select>
        </div>

        <!-- Master Degree -->
        <div class="col-md-6">
          <label>Master Degree</label>
          <select name="master_degree" class="form-select">
            <option value="">-- Select Master Degree --</option>
            <option
              value="MCom"
              {%
              if
              employee.master_degree=""
              ="MCom"
              %}selected{%
              endif
              %}
            >
              M.Com
            </option>
            <option
              value="MSc"
              {%
              if
              employee.master_degree=""
              ="MSc"
              %}selected{%
              endif
              %}
            >
              M.Sc
            </option>
            <option
              value="MA"
              {%
              if
              employee.master_degree=""
              ="MA"
              %}selected{%
              endif
              %}
            >
              M.A
            </option>
            <option
              value="MTech"
              {%
              if
              employee.master_degree=""
              ="MTech"
              %}selected{%
              endif
              %}
            >
              M.Tech
            </option>
          </select>
        </div>
      </div>

      <!-- WORK DETAILS -->
      <h6 class="text-primary">Work Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>Employee ID</label>
          <input
            type="text"
            name="employee_id"
            value="{{ employee.employee_id }}"
            class="form-control"
            required
          />
        </div>
        <div class="col-md-4">
          <label>Date of Joining</label>
          <input
            type="date"
            name="date_of_joining"
            class="form-control"
            value="{{ employee.date_of_joining|date:'Y-m-d' }}"
          />
        </div>
        <div class="col-md-4">
          <label>Department</label>
          <select name="department" class="form-select">
            {% for dept in departments %}
            <option
              value="{{ dept.id }}"
              {%
              if
              employee.department_id=""
              ="dept.id"
              %}selected{%
              endif
              %}
            >
              {{ dept.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
          <label>Designation</label>
          <select name="designation" class="form-select">
            {% for des in designations %}
            <option
              value="{{ des.id }}"
              {%
              if
              employee.designation_id=""
              ="des.id"
              %}selected{%
              endif
              %}
            >
              {{ des.name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- CONTACT -->
      <h6 class="text-primary">Contact Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>Email</label>
          <input
            type="email"
            name="email"
            value="{{ employee.email }}"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label>Contact No</label>
          <input
            type="text"
            name="contact_no"
            value="{{ employee.contact_no }}"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label>Emergency Contact</label>
          <input
            type="text"
            name="emergency_contact"
            value="{{ employee.emergency_contact }}"
            class="form-control"
          />
        </div>
      </div>
      <!-- ADDRESS DETAILS -->
      <h6 class="text-primary mb-2">Address Details</h6>

      <div class="row g-3 mb-4">
        <!-- CURRENT ADDRESS -->
        <div class="col-md-6">
          <h6 class="fw-semibold">Current Address</h6>

          <input
            type="text"
            class="form-control mb-2"
            name="current_line1"
            placeholder="Address Line 1 *"
            required
          />

          <input
            type="text"
            class="form-control mb-2"
            name="current_line2"
            placeholder="Address Line 2"
          />

          <input
            type="text"
            class="form-control mb-2"
            name="current_city"
            placeholder="City *"
            required
          />

          <input
            type="text"
            class="form-control mb-2"
            name="current_state"
            placeholder="State *"
            required
          />

          <input
            type="text"
            class="form-control"
            name="current_pin"
            placeholder="PIN Code *"
            required
          />
        </div>

        <!-- PERMANENT ADDRESS -->
        <div class="col-md-6">
          <h6 class="fw-semibold">Permanent Address</h6>

          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="sameAsCurrent"
            />
            <label class="form-check-label" for="sameAsCurrent">
              Same as Current Address
            </label>
          </div>

          <input
            type="text"
            class="form-control mb-2"
            name="permanent_line1"
            placeholder="Address Line 1 *"
            required
          />

          <input
            type="text"
            class="form-control mb-2"
            name="permanent_line2"
            placeholder="Address Line 2"
          />

          <input
            type="text"
            class="form-control mb-2"
            name="permanent_city"
            placeholder="City *"
            required
          />

          <input
            type="text"
            class="form-control mb-2"
            name="permanent_state"
            placeholder="State *"
            required
          />

          <input
            type="text"
            class="form-control"
            name="permanent_pin"
            placeholder="PIN Code *"
            required
          />
        </div>
      </div>

      <!-- FAMILY -->
      <h6 class="text-primary">Family Details</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <label>Father Name</label>
          <input
            type="text"
            name="father_name"
            value="{{ employee.father_name }}"
            class="form-control"
          />
        </div>
        <div class="col-md-6">
          <label>Mother Name</label>
          <input
            type="text"
            name="mother_name"
            value="{{ employee.mother_name }}"
            class="form-control"
          />
        </div>
      </div>
      <!--Bank detail-->
      <h6 class="text-primary mb-2">Bank & Government Details</h6>

      <div class="row g-3 mb-4">
        <!-- PAN -->
        <div class="col-md-6">
          <label>PAN Number</label>
          <input
            type="text"
            name="pan_number"
            class="form-control"
            placeholder="10-digit PAN"
          />
        </div>

        <!-- Aadhaar -->
        <div class="col-md-6">
          <label>Aadhaar Number</label>
          <input
            type="text"
            name="aadhaar_number"
            class="form-control"
            placeholder="12-digit Aadhaar"
          />
        </div>
      </div>

      <div class="row g-3 mb-4">
        <!-- Bank Name -->
        <div class="col-md-6">
          <label>Bank Name</label>
          <input
            type="text"
            name="bank_name"
            class="form-control"
            placeholder="Bank Name"
          />
        </div>

        <!-- Branch -->
        <div class="col-md-6">
          <label>Branch Name</label>
          <input
            type="text"
            name="branch_name"
            class="form-control"
            placeholder="Branch"
          />
        </div>
      </div>

      <div class="row g-3 mb-4">
        <!-- Account Number -->
        <div class="col-md-6">
          <label>Account Number</label>
          <input
            type="text"
            name="account_number"
            class="form-control"
            placeholder="Account Number"
          />
        </div>

        <!-- IFSC -->
        <div class="col-md-6">
          <label>IFSC Code</label>
          <input
            type="text"
            name="ifsc_code"
            class="form-control"
            placeholder="IFSC Code"
          />
        </div>
      </div>
      <!-- ACTION -->
      <div class="d-flex gap-2">
        <button class="btn btn-primary">Update Employee</button>
        <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
<h6 class="text-primary mb-2">System Information</h6>

<div class="row g-3 mb-4">
  <div class="col-md-6">
    <label>Created By</label>
    <input
      type="text"
      class="form-control"
      value="{{ employee.created_by.username }}"
      readonly
    />
  </div>

  <div class="col-md-6">
    <label>Created At</label>
    <input
      type="text"
      class="form-control"
      value="{{ employee.created_at|date:'d M Y, h:i A' }}"
      readonly
    />
  </div>
</div>

{% endblock %}
