{% extends 'base_dashboard.html' %} {% block title %}Add Employee{% endblock %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-body">
    <h4 class="mb-4">Add Employee</h4>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- PERSONAL DETAILS -->
      <h6 class="text-primary mb-2">Personal Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>First Name *</label>
          <input type="text" name="first_name" class="form-control" required />
        </div>
        <div class="col-md-4">
          <label>Middle Name</label>
          <input type="text" name="middle_name" class="form-control" />
        </div>
        <div class="col-md-4">
          <label>Last Name *</label>
          <input type="text" name="last_name" class="form-control" required />
        </div>

        <div class="col-md-4">
          <label>Gender *</label>
          <select name="gender" class="form-select" required>
            <option value="">-- Select --</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Date of Birth</label>
          <input
            type="date"
            name="date_of_birth"
            class="form-control"
            value="{{ employee.date_of_birth|date:'Y-m-d' }}"
          />
        </div>
        <div class="col-md-4">
          <label>Blood Group</label>
          <select name="gender" class="form-select" required>
            <option value="">-- Select --</option>
            <option>A+</option>
            <option>B+</option>
            <option>AB+</option>
            <option>O+</option>
            <option>A-</option>
            <option>B-</option>
            <option>AB-</option>
            <option>O-</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>USER ID *</label>
          <input type="username" name="user_id" class="form-control" required />
        </div>
        <div class="col-md-4">
          <label>Password *</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
      </div>
      <!-- PHOTO -->
      <h6 class="text-primary mb-2">Profile Photo</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>Photo</label>
          <input type="file" name="photo" class="form-control" />
        </div>
      </div>

      <!-- CONTACT DETAILS -->
      <h6 class="text-primary mb-2">Contact Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>Email *</label>
          <input type="email" name="email" class="form-control" required />
        </div>

        <div class="col-md-4">
          <label>Contact No *</label>
          <input type="text" name="contact_no" class="form-control" required />
        </div>

        <div class="col-md-4">
          <label>Emergency Contact *</label>
          <input
            type="text"
            name="emergency_contact"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6">
          <label>Address</label>
          <textarea name="address" class="form-control"></textarea>
        </div>

        <div class="col-md-6">
          <label>Permanent Address</label>
          <textarea name="permanent_address" class="form-control"></textarea>
        </div>
      </div>
      <h6 class="text-primary mb-2">Education</h6>

      <div class="row g-3 mb-4">
        <!-- Bachelor Degree -->
        <div class="col-md-6">
          <label>Bachelor Degree</label>
          <select name="bachelor_degree" class="form-select">
            <option value="">-- Select Bachelor Degree --</option>
            <option
              value="BCom"
              {%
              if
              employee.bachelor_degree=""
              ="BCom"
              %}selected{%
              endif
              %}
            >
              B.Com
            </option>
            <option
              value="BSc"
              {%
              if
              employee.bachelor_degree=""
              ="BSc"
              %}selected{%
              endif
              %}
            >
              B.Sc
            </option>
            <option
              value="BA"
              {%
              if
              employee.bachelor_degree=""
              ="BA"
              %}selected{%
              endif
              %}
            >
              B.A
            </option>
            <option
              value="BTech"
              {%
              if
              employee.bachelor_degree=""
              ="BTech"
              %}selected{%
              endif
              %}
            >
              B.Tech
            </option>
          </select>
        </div>

        <!-- Master Degree -->
        <div class="col-md-6">
          <label>Master Degree</label>
          <select name="master_degree" class="form-select">
            <option value="">-- Select Master Degree --</option>
            <option
              value="MCom"
              {%
              if
              employee.master_degree=""
              ="MCom"
              %}selected{%
              endif
              %}
            >
              M.Com
            </option>
            <option
              value="MSc"
              {%
              if
              employee.master_degree=""
              ="MSc"
              %}selected{%
              endif
              %}
            >
              M.Sc
            </option>
            <option
              value="MA"
              {%
              if
              employee.master_degree=""
              ="MA"
              %}selected{%
              endif
              %}
            >
              M.A
            </option>
            <option
              value="MTech"
              {%
              if
              employee.master_degree=""
              ="MTech"
              %}selected{%
              endif
              %}
            >
              M.Tech
            </option>
          </select>
        </div>
      </div>

      <!-- WORK DETAILS -->
      <h6 class="text-primary mb-2">Work Details</h6>
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label>Employee ID *</label>
          <input type="text" name="employee_id" class="form-control" required />
        </div>
        <div class="col-md-4">
          <label>Date of Joining</label>
          <input
            type="date"
            name="date_of_joining"
            class="form-control"
            value="{{ employee.date_of_joining|date:'Y-m-d' }}"
          />
        </div>
        <div class="col-md-4">
          <label>Department *</label>
          <select name="department" class="form-select" required>
            <option value="">-- Select Department --</option>
            {% for dept in departments %}
            <option value="{{ dept.id }}">{{ dept.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <label>Designation *</label>
          <select name="designation" class="form-select" required>
            <option value="">-- Select Designation --</option>
            {% for des in designations %}
            <option value="{{ des.id }}">{{ des.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- FAMILY DETAILS -->
      <h6 class="text-primary mb-2">Family Details</h6>
      <div class="row g-3 mb-4">
        <div class="col-md-6">
          <label>Father Name</label>
          <input type="text" name="father_name" class="form-control" />
        </div>
        <div class="col-md-6">
          <label>Mother Name</label>
          <input type="text" name="mother_name" class="form-control" />
        </div>
      </div>
      <!--Bank detail-->
      <h6 class="text-primary mb-2">Bank & Government Details</h6>

      <div class="row g-3 mb-4">
        <!-- PAN -->
        <div class="col-md-6">
          <label>PAN Number</label>
          <input
            type="text"
            name="pan_number"
            class="form-control"
            placeholder="10-digit PAN"
          />
        </div>

        <!-- Aadhaar -->
        <div class="col-md-6">
          <label>Aadhaar Number</label>
          <input
            type="text"
            name="aadhaar_number"
            class="form-control"
            placeholder="12-digit Aadhaar"
          />
        </div>
      </div>

      <div class="row g-3 mb-4">
        <!-- Bank Name -->
        <div class="col-md-6">
          <label>Bank Name</label>
          <input
            type="text"
            name="bank_name"
            class="form-control"
            placeholder="Bank Name"
          />
        </div>

        <!-- Branch -->
        <div class="col-md-6">
          <label>Branch Name</label>
          <input
            type="text"
            name="branch_name"
            class="form-control"
            placeholder="Branch"
          />
        </div>
      </div>

      <div class="row g-3 mb-4">
        <!-- Account Number -->
        <div class="col-md-6">
          <label>Account Number</label>
          <input
            type="text"
            name="account_number"
            class="form-control"
            placeholder="Account Number"
          />
        </div>

        <!-- IFSC -->
        <div class="col-md-6">
          <label>IFSC Code</label>
          <input
            type="text"
            name="ifsc_code"
            class="form-control"
            placeholder="IFSC Code"
          />
        </div>
      </div>

      <!-- ACTION -->
      <div class="d-flex gap-2">
        <button class="btn btn-primary">Save Employee</button>
        <a href="{% url 'employee_list' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
