{% extends 'employee/base_employee_dashboard.html' %}
{% load static %}
{% block content %}
<h3>My Attendance History</h3>

{% if messages %} {% for message in messages %}
<div
  class="alert alert-{{ message.tags }} alert-dismissible fade show"
  role="alert"
>
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endfor %} {% endif %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Punch In</th>
      <th>Punch Out</th>
      <th>Working Hours</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for a in attendances %}
    <tr>
      <td>{{ a.date }}</td>
      <td>{{ a.punch_in|default:"-" }}</td>
      <td>{{ a.punch_out|default:"-" }}</td>
      <td>{{ a.working_hours|default:"-" }}</td>
      <td>
        <span
          class="badge {% if a.status == 'Late' %}bg-warning {% elif a.status == 'Half Day' %}bg-danger {% else %}bg-success{% endif %}"
        >
          {{ a.status }}
        </span>
      </td>
    </tr>

    {% empty %}
    <tr>
      <td colspan="4" class="text-center">No attendance records</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
