{% extends 'base_dashboard.html' %} {% block content %}

<h3 class="mb-3">
  Attendance – {{ employee.full_name }} ({{ employee.employee_id }})
</h3>

<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th>Date</th>
      <th>Punch In</th>
      <th>Punch Out</th>
      <th>Working Hours</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for a in history %}
    <tr>
      <td>{{ a.date }}</td>
      <td>{{ a.punch_in|date:"d M Y, h:i A"|default:"-" }}</td>
      <td>{{ a.punch_out|date:"d M Y, h:i A"|default:"-" }}</td>
      <td>
        {% if a.working_hours %} {{ a.working_hours }} hrs {% else %} - {% endif
        %}
      </td>

      <td>
        <span class="badge
  {% if a.status == 'Present' %}bg-success
  {% elif a.status == 'Late' %}bg-warning text-dark
  {% elif a.status == 'Half Day' %}bg-secondary
  {% elif a.status == 'Absent' %}bg-danger
  {% elif a.status == 'Leave' %}bg-info text-dark
  {% elif a.status == 'LWP' %}bg-primary
  {% elif a.status == 'Holiday' %}bg-dark
  {% else %}bg-light text-dark{% endif %}">
  {{ a.status }}
</span>

      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No attendance records</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'admin_employee_attendance_list' %}" class="btn btn-secondary">
  Back
</a>

{% endblock %}
